.ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a a b"
    "a a b"
    "c c b";
  background-color: #444;
  width: 690px; /* Set a fixed width */
  height: 670px; /* Set a fixed height */
}

.map {
  background-color: #333;
  grid-area: a;
  width: auto;
  height: auto; /* Set a fixed height for the map container */
  padding: 10px;
}

.map-row {
  display: flex;
}

.map-square {
  width: var(--square-size, 20px);
  height: var(--square-size, 20px);
  display: inline-block;
  font-size: 20px; /* Adjust the font size as needed */
  font-family: monospace;
}

.log {
  grid-area: b;
  background-color: #555;
  height: auto;
  width: auto;
}

.bottomUi {
  grid-area: c;
  background-color: #666;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Jersey 10", sans-serif;
}

.livesContainer {
  grid-column: 1;
  grid-row: 1;
  background-color: #777;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 32px;
  padding: 2.5px;
}

.luckContainer {
  grid-column: 2;
  grid-row: 1;
  background-color: #aaa;
  height: auto;
  width: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.scoreKeep {
  grid-column: 3;
  grid-row: 1;
  background-color: #888;
  height: auto;
  width: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.equipView {
  grid-column: 1;
  grid-row: 2;
  background-color: #bbb;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 32px;
  padding: 2.5px;
}

.groundView {
  grid-column: 1;
  grid-row: 3;
  background-color: #999;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 32px;
  padding: 2.5px;
}

@keyframes final-heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.2s;
  filter: brightness(100%) saturate(100%) hue-rotate(320deg);
}
