.ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a a b"
    "a a b"
    "c c b";
  background-color: #444;
  width: 690px; /* Set a fixed width */
  height: 670px; /* Set a fixed height */
}

.map {
  background-color: #333;
  grid-area: a;
  width: auto;
  height: auto; /* Set a fixed height for the map container */
  padding: 10px;
}

.map-row {
  display: flex;
}

.map-square {
  width: var(--square-size, 20px);
  height: var(--square-size, 20px);
  display: inline-block;
  font-size: 20px; /* Adjust the font size as needed */
  font-family: monospace;
}

.inventory {
  grid-area: b;
  background-color: #555;
  height: auto;
  width: auto;
}

.bottomUi {
  grid-area: c;
  background-color: #666;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.livesContainer {
  grid-column: 1;
  grid-row: 1;
  background-color: #777;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 32px;
  padding: 2.5px;
  padding-left: 10px;
}

.scoreKeep {
  grid-column: 2 / span 2;
  grid-row: 1;
  background-color: #888;
  height: auto;
  width: auto;
  font-family: "Jersey 10", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.log {
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  background-color: #999;
  height: auto;
  width: auto;
  overflow-y: scroll;
}

@keyframes final-heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
